.Home {
    display: flex;
    flex-direction: row;
    text-align: center;
    min-height: calc(100vh - 81px);
    width: 100%;
    align-items: baseline;
    font-size: 1.1em;
    color: white;
    text-align: center;
    
}
.verticalAlign .Home{
    align-items: center;
}
.verticalAlign .backtoTop{
    display: none;
}
.backtoTop{
    position: fixed;
    bottom: 12px;
    right: 12px;
    z-index: 99;
    color: #0079D3;
    font-size: 3em;
    cursor: pointer;
    text-decoration: none;
}
