.gamb{
    font-size:12px;
    text-align: left;
    padding-left:20px;
    padding-right:20px;
    padding-bottom:15px;
    color:rgb(132, 134, 136);
}
.stuff{
    overflow-wrap: break-word;
    background-color: rgb(255, 255, 255);
    border-radius: 5px 5px 4px 4px;
    overflow: visible;
    padding: 12px;
    margin-left: 24px;
}
.ana{
    /* position: relative;
    top: 0px;
    left: 0px;
    right: 0px;
    background-color: rgb(255, 255, 255);
    flex: 0 0 auto;
    padding: 0px; */
    font-style: inherit;
    color:#333;
    width:100%;
    max-width: 1000px;
    min-width: 300px;
    overflow: hidden;
    margin: 0 auto;
    border-radius: 4px;
    background: #fff;
    padding: 1em;
    /* box-shadow: 0 0 7px rgba(51,51,51,0.5);         */
}

.aho{
    display: flex;
    height: 40px;
    text-transform: uppercase;
    width: 100%;
}
.proful{
    display: flex;
    list-style: none;
}
.profit{
    /* padding: 0 20px; */
    text-decoration: none;
    color: rgb(124, 124, 124);
}
.profit:hover{
    cursor: pointer;
}
.profit:focus{
    border-bottom: 3px solid rgb(65, 80, 244);
    color: rgb(28, 28, 28);
}
.profit1{
    padding: 0 20px;
}