
.stuff{
    overflow-wrap: break-word;
    background-color: rgb(255, 255, 255);
    border-radius: 5px 5px 4px 4px;
    overflow: visible;
    padding: 12px;
    margin-left: 24px;
}

.ana{
    /* position: relative;
    top: 0px;
    left: 0px;
    right: 0px;
    background-color: rgb(255, 255, 255);
    flex: 0 0 auto;
    padding: 0px; */
    font-style: inherit;
    color:#333;
    width:100%;
    width: calc(100vw - 320px);
    box-shadow: 0 0 3px rgba(51,51,51,0.5);
    overflow: hidden;
    border-radius: 4px;
    background: #fff;
    padding: 1em;
    margin: 1em;
    margin-left: 320px; 
    /* box-shadow: 0 0 7px rgba(51,51,51,0.5);         */
}

.aho{
    display: flex;
    height: 40px;
    text-transform: uppercase;
    width: 100%;
}
.proful{
    display: flex;
    list-style: none;
}
.profit,
.commentSR{
    /* padding: 0 20px; */
    text-decoration: none;
    color: #0079D3;
}
.profit:hover,
.commentSR:hover{
    cursor: pointer;
    text-decoration: #0079D3 underline;
}
.profit1{
    padding: 0 20px;
}
.postsPageContainer{
    margin-top:100px;
    margin-right:13px;
    float:left;
    width:65%;
}
.postsPage{
    margin-bottom: 50px;
    float:left;
}
.commentContainer{
    text-align: left;
    border: 0;
    border-bottom: 1px solid #ccc;
    margin: 1em auto;
}
.commentSR{
}