.Button {
    background-color: #0079D3;
    border: none;
    color: #fff;
    outline: none;
    cursor: pointer;
    /* font: inherit; */
    font-size: 14px;
    padding: 10px;
    margin: 10px;
    font-weight: bold;
    border-radius: 3px;
    width: 100%;
    margin-left: 0;
    padding-left: 0;
    letter-spacing: 0.5px;
    line-height: 32px;
    text-transform: uppercase;
}

/* .Button:first-of-type {
    margin-left: 0;
    padding-left: 0;
} */
.Button:hover{
    background-color: #33a8ff;
}

.Success {
    color: #5C9210;
}

.Danger {
    color: #944317;
}