.subredditFixed{
    width:100%;
    top:49px; 
}

.subredditContainer{
    width:100%;
    margin:auto;
    overflow: hidden;
    background: #fff;
}
.subredditName {
    font-size: 22px;
    font-weight: 500;
    color: #333;
}
#subredditShowcase{
    top:49;
    background-image: url('../../assets/images/loading.gif');
    background-position: center;
    background-size: contain;
    background-size: 100%;
    background-repeat: none;
    min-height: 250px;
    text-align: left;
    cursor:pointer;
}
#subredditShowcase h1{
    font-style: inherit;
    font-size:22px;
    font-weight: 500;
    float:left;
    margin:0;
    padding-top:110px;
    padding-left:1%;
    border:0;
}
#subredditShowcase img{
    margin-top:100px;
    margin-left:3%;
    float:left;
    border-radius:1000px;
    block-size: 50px;
}

#subredditPageContent{
    float:left;
    width:68%;
    box-sizing:border-box;
    margin-top:50px;
    margin-bottom:100px;
    margin-right:10px;
    
}
.subredditPageThread { 
    margin-bottom:20px; 
    /*
    background-color: rgb(26, 26, 27);
    
    border-bottom: 1px solid rgb(52, 53, 54);
    border-right:  1px solid rgb(52, 53, 54);
    border-left:  1px solid rgb(52, 53, 54);
    border-top:  1px solid rgb(52, 53, 54);
    border-radius: 6px; 
    */
}
#subredditSidebarContainer{
    width:30%;
    float:left;
    padding:0;
    box-sizing:border-box;
    margin-top:50px;
}
.subredditSidebarComponent{
    background: #fff;
    border-radius: 4px;
}
#subredditNavbar{
    background-color:black;
    /*
    border-radius:5px;
    background-color:rgb(26, 26, 27);
    
    border: 1px solid rgb(52, 53, 54);
    */
    color:white;
}
#subredditSort{
    display: inline;
}
.srLinks{
    float:left;
    margin:0;
    padding-top:0;
    padding-right:0;
    padding-left:0;
    padding-bottom:7px;
    list-style: none;
    color: #333;    
    text-decoration: none;
    font-size:18px;
    line-height: 1em;
    padding:10px;
    text-align:center;
}
.srLinks a{
    color:#333;
    text-decoration: none;
    font-size:18px;
    line-height: 1em;
    padding:10px;
    text-align:center;
}
/*
.srLinks a:hover{
    color: rgb(233, 172, 92);
}
*/
.srSortdropdownMenu{
    padding: 1em;
    text-align: left;
}
.downIcon{
    position: relative;
    bottom: 2px;
}
.srSortdropButton{
    background: transparent;
    cursor: pointer;
    border: none;
    color: #333;
    font-size: 1em;
}
.srSortdropUl{
    font-size:20px;
    display: flex;
    flex-direction: column;
    list-style-type: none;
    padding:0;
    margin: 0;
}
.srdropList{
    display: none;
    position: absolute;
    min-width: 160px;
    box-shadow: 0 0 3px rgba(51,51,51,0.5);
    padding: 0;
    z-index: 1;
    background: #fff;
    margin: 0 1em;
    border-radius: 4px;
}
.srSortdropdownMenu:hover .srdropList{
    display: block;
}
.srSortdropdownItem{
    border:1px solid rgb(52, 53, 54);
    float: 1;
    list-style: none;
}
.srsort{
    text-decoration: none;
    float: left;
    color:rgb(111, 112, 113);
}
.srsort:hover{
    color:rgb(233, 172, 92);
}
.subredditSidebarComponent {
    font-size:12px;
    text-align: left;
    padding-left:20px;
    padding-right:20px;
    padding-bottom:15px;
    color:rgb(132, 134, 136);
    box-shadow: 0 0 5px rgba(51,51,51,0.5);
}
.subredditSidebarComponent h5 {
    padding-top:15px;
    font-size:12px;
}
/*
.subredditSidebarComponent input {
    width:60%;
    float:right;
    padding-top:3px;
    padding-bottom:3px;
    border-radius: 10px;
}
*/
.subredditSidebarComponent label{
    color:rgb(116, 193, 219);
    padding-top:3px;
    padding-bottom:10px;
}
.subredditSidebarComponent textarea{
    margin-top:10px;
    margin-bottom:10px;
    border-radius:10px;
    width:95%;
}
.subredditSidebarComponent label {
    float:left;
}
.srSidebarCompTitle {
    font-size:24px;
    font-weight: 500;
    text-align: left;
    color: #333;
    padding-top: 10px;
    padding-bottom: 20px;
}
.srSidebarCompTitle img{
    margin-left:0px;
    margin-right:10px;
    float:left;
    border-radius:1000px;
    block-size: 30px;
}
.srSidebarSubscribers {
    margin-left:10px;
    color:#333;
    font-size:26px;
    font-weight: 700;
    margin-bottom:10px;
}
.srSidebarBio { 
    margin-left:5px;
    padding-right:10px;
    color:#333;
    font-size:16px;
}
.srSidebarSubscribeButton {
    background-color: #0079D3;
    border: none;
    color: #fff;
    outline: none;
    cursor: pointer;
    /* font: inherit; */
    font-size: 14px;
    padding: 10px;
    margin: 10px;
    font-weight: bold;
    border-radius: 3px;
    width: 100%;
    margin-left: 0;
    padding-left: 0;
    letter-spacing: 0.5px;
    line-height: 32px;
    text-transform: uppercase;
    transition: box-shadow 0.2s ease;
}
.srSidebarSubscribeButton:hover{
    background-color: #33a8ff;
}
.srDeleteButton {
    background:rgb(128,12,12);
    border: none;
    color: #fff;
    outline: none;
    cursor: pointer;
    font-size: 14px;
    padding: 10px;
    margin: 10px;
    font-weight: bold;
    border-radius: 3px;
    width: 100%;
    margin-left: 0;
    padding-left: 0;
    letter-spacing: 0.5px;
    line-height: 32px;
    text-transform: uppercase;
}
.srDeleteButton:hover{
    background: #da0046;
}
.moderatorSr {
    cursor:pointer;
    font-size:20px;
    padding-bottom:5px;
    margin:0;
    color:rgb(116, 193, 219);
}
.rulesSr{
    cursor:pointer;
    font-size:20px;
    padding-bottom:5px;
    margin:0;
    color: #333;
}

.moderatorSr a:hover{
    text-decoration: underline;
}
.moderatorSr a{
    text-decoration: none;
    color: #0079D3;
}
#subreddit-footer{
    padding-top:30px;
    margin-top:40%;
    font-size:12px;
   margin-bottom:100px;
}
@media(min-width:900px){
    #subredditShowcase img{
    margin-left:200px;   
 }

    /*
    #main{
        width:100%;
        float:none;
    }
    
    #sidebar{
        width:100%;
        float:none;
    }
    */
}
/*
@media(max-width:1000px){
    #showcase{
        background-size: 200%;
    }

}
*/
.flairInput{
    border-radius:4px;
    border: 1px solid #ccc;
    padding: 1em;
    font-size: 0.85em;
    width:100%;
}
.flairComp{
    margin-top: 1em;
}
#flairForm{
    padding: 1em;
    justify-content: center;
    align-content: center;
}
.errorMessageSubreddit { 
    font-style: inherit;
    color:maroon;
    font-size: 0.77em;
}