.subredditFixed{
    width:100%;
    top:49px; 
}

.subredditContainer{
    width:80%;
    margin:auto;
    overflow: hidden;
}
.subredditName {
    font-size: 22px;
    font-weight: 500;
    color: #fcfcfb;
}
#subredditShowcase{
    top:49;
    background-image: url('../../assets/images/Covertest.jpg');
    background-position: initial;
    background-color:grey;
    background-size: 100%;
    background-repeat: none;
    min-height: 250px;
    text-align: left;
    cursor:pointer;
}
#subredditShowcase h1{
    font-style: inherit;
    font-size:22px;
    font-weight: 500;
    float:left;
    margin:0;
    padding-top:110px;
    padding-left:1%;
    border:0;
}
#subredditShowcase img{
    margin-top:100px;
    margin-left:3%;
    float:left;
    border-radius:1000px;
    block-size: 50px;
}

#subredditPageContent{
    float:left;
    width:68%;
    box-sizing:border-box;
    margin-top:50px;
    margin-bottom:100px;
    margin-right:10px;
    
}
.subredditPageThread { 
    margin-bottom:20px; 
    /*
    background-color: rgb(26, 26, 27);
    
    border-bottom: 1px solid rgb(52, 53, 54);
    border-right:  1px solid rgb(52, 53, 54);
    border-left:  1px solid rgb(52, 53, 54);
    border-top:  1px solid rgb(52, 53, 54);
    border-radius: 6px; 
    */
}
#subredditSidebarContainer{
    width:30%;
    float:right;
    padding:0;
    box-sizing:border-box;
    margin-top:50px;
}
.subredditSidebarComponent{
    margin-bottom:15px;
    background-color: rgb(26, 26, 27);
    border-bottom: 1px solid rgb(52, 53, 54);
    border-right:  1px solid rgb(52, 53, 54);
    border-left:  1px solid rgb(52, 53, 54);
    border-top:  1px solid rgb(52, 53, 54);
    border-radius: 6px;
}
#subredditNavbar{
    background-color:black;
    /*
    border-radius:5px;
    background-color:rgb(26, 26, 27);
    
    border: 1px solid rgb(52, 53, 54);
    */
    color:white;
}
#subredditSort{
    /*border-radius:5px; */
    background-color:rgb(26, 26, 27);    
    border-top: 1px solid rgb(52, 53, 54);
    border-bottom: 1px solid rgb(52, 53, 54);
    color:white;
}
.srLinks{
    float:left;
    margin:0;
    padding-top:0;
    padding-right:0;
    padding-left:0;
    padding-bottom:7px;
    list-style: none;
}
.srLinks a{
    color:white;
    text-decoration: none;
    font-size:18px;
    line-height: 1em;
    padding:10px;
    text-align:center;
}
.srLinks a:hover{
    color: rgb(233, 172, 92);
}

.srSortdropdownMenu{
    padding-bottom: 10px;
    float:left;    
}
.srSortdropButton{
    background: transparent;
    cursor: pointer;
    border: none;
    color: #f2f2f2;
    font-size: 12px;
    line-break: auto;
}
.srSortdropUl{
    font-size:20px;
    display: flex;
    flex-direction: column;
    list-style-type: none;
    padding:0;
}
.srdropList{
    background-color: rgb(26, 26, 27);
    display: none;
    position: absolute;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    padding: 10px;
    z-index: 1;
    border-bottom: 1px solid rgb(52, 53, 54);
    border-right:  1px solid rgb(52, 53, 54);
    border-left:  1px solid rgb(52, 53, 54);
    border-radius: 6px;
}
.srSortdropdownMenu:hover .srdropList{
    display: block;
}
.srSortdropdownItem{
    border:1px solid rgb(52, 53, 54);
    float: 1;
    list-style: none;
}
.srsort{
    text-decoration: none;
    float: left;
    color:rgb(111, 112, 113);
}
.srsort:hover{
    color:rgb(233, 172, 92);
}
.subredditSidebarComponent {
    font-size:12px;
    text-align: left;
    padding-left:20px;
    padding-right:20px;
    padding-bottom:15px;
    color:rgb(132, 134, 136);
}
.srSidebarCompTitle {
    font-size:24px;
    font-weight: 500;
    text-align: left;
    color: lightgrey;
    padding-top: 10px;
    padding-bottom: 20px;
}
.srSidebarCompTitle img{
    margin-left:0px;
    margin-right:10px;
    float:left;
    border-radius:1000px;
    block-size: 30px;
}
.srSidebarSubscribers {
    margin-left:10px;
    color:lightgrey;
    font-size:26px;
    font-weight: 700;
    margin-bottom:10px;
}
.srSidebarBio { 
    margin-left:5px;
    padding-right:10px;
    color:lightgrey;
    font-size:16px;
}
.srSidebarSubscribeButton {
    margin:10px 0px;
    padding:10px;
    width:100%;
    border-radius: 7px;
    background-color:lightgrey;
    font-size:18px;
    font-weight: 600;
    cursor:pointer;
}
.srSidebarSubscribeButton:hover{
    color:rgb(233, 172, 92);
    background-color:rgb(26, 26, 27);
}
.moderatorSr {
    cursor:pointer;
    font-size:20px;
    padding-bottom:5px;
    margin:0;
    color:rgb(116, 193, 219);
}
.rulesSr{
    cursor:pointer;
    font-size:20px;
    padding-bottom:5px;
    margin:0;
    color: #fcfcfb;
}

.moderatorSr:hover{
    text-decoration: underline;
}
#subreddit-footer{
    padding-top:30px;
    margin-top:40%;
    font-size:12px;
   margin-bottom:100px;
}
@media(min-width:900px){
    #subredditShowcase img{
    margin-left:200px;   
 }

    /*
    #main{
        width:100%;
        float:none;
    }
    
    #sidebar{
        width:100%;
        float:none;
    }
    */
}
/*
@media(max-width:1000px){
    #showcase{
        background-size: 200%;
    }

}
*/