.Settings h4{
    font-size: 18px;
    font-weight: 500;
    line-height: 22px;
    color: pink;
     fill: white; 
     max-width: 1200px;
    padding: 16px 20px 20px;
    margin: 0px auto;
}


.Settings
{
    box-sizing: border-box;
    position: relative;
    background: rgb(3, 3, 3);
}
