.navWrapper {
    width: 100%;
    display: flex;
    
}


.memeNav {
    display: flex;
    /* flex-wrap: wrap; */
    align-items: center;
    width: 100%;
    background-color: rgb(26, 26, 27);
    border: 1px solid rgb(52, 53, 54);
    overflow: hidden;
    height: 49px;
}
.memeLogo a{
    font-style: italic;
    color: #f2f2f2;
    text-align: center;
    height: 32px;
    padding: 8px 8px 8px 8px;
    width: 32px;
    text-decoration: none;
    font-size: 24px;
    cursor: pointer;
    
}
.memeSearch{
    box-shadow: none;
    color: rgb(215, 218, 220);
    flex: 1;
    height: 36px;
    width: 100%;
    border-radius: 4px;
    border-width: 1px;
    border-style: solid;
    border-color: rgb(52, 53, 54);
    border-image: initial;
    outline: none;
    padding: 0px 16px 0px 40px;
    background-color: rgb(39, 39, 41);
}

.memeSearch:hover {
    background-color: rgb(26, 26, 27);
    border-width: 1px;
    border-style: solid;
    border-color: rgb(215, 218, 220);
    border-image: initial;
}
.dropdownMenu{
    padding: 145px 20px 145px 20px;
    display: inline-block;
    
}
.dropButton{

    background: transparent;
    cursor: pointer;
    border: none;
    color: #f2f2f2;
    padding: 8px;
    font-size: 17px;
}
.dropUl{
    display: flex;
    flex-direction: column;
}
.dropList, .yourStuffDropList{
    background-color: rgb(26, 26, 27);
    display: none;
    position: absolute;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    padding: 12px 16px;
    z-index: 1;
    border-bottom: 1px solid rgb(52, 53, 54);
    border-right:  1px solid rgb(52, 53, 54);
    border-left:  1px solid rgb(52, 53, 54);
    border-radius: 6px;
}
.dropdownMenu:hover .dropList, .yourStuffDrop:hover .yourStuffDropList {
    display: block;
  }
.dropdownItem, .yourStuffItem{
    float: 1;
    list-style: none;
    
}
.sort, .stfitm{
    text-decoration: none;
    float: left;
    color: #d7dadc;
}
.sort:hover, .stfitm:hover {
    background-color: #818384;
}
.rightLinksWrapper{
    display: flex;
    flex: 1;
    padding: 8px;
    align-items: center;
}
.rightLinks a{
    color: #f2f2f2; 
    cursor: pointer;
    padding: 0 5px;
    margin: 5px;
    text-decoration: none;
}
.rightLinks a:hover {
    background-color: #59595a52;
    border-radius: 5px;
}
/************************************/
.yourStuffDrop{
    padding: 145px 20px 145px 20px;
    display: inline-block;
}

.search-wrapper, .search-form{
    display: flex;
   /** width: 30%;*/
   padding: 0;
}

.search-label{
    margin: 0;
    padding: 0 16px 0 16px;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline
}
@media (max-width: 639px){

    .fLroyf {
        left: 8px;
    }
}
.flroyf{
    -webkit-box-align: center;
    align-items: center;
    display: flex;
    height: 40px;
    left: 12px;
    position: absolute;
    right: 12px;
    z-index: 3;
    transition: left 300ms ease-in-out 0s;
}


/* @media all and (max-width: 600px) {
  
    .memeNav {
      flex-wrap: wrap;
    }
    
    .memeNav > div {
      flex-basis: 50%;
    }
  } */

.me-me{
    box-shadow: none;
    color: rgb(215, 218, 220);
    flex: 1;
    height: 36px;
    width: 100%;
    border: none;
    outline: none;
    padding: 0px 16px 0px 40px;
    background-color: rgb(39, 39, 41);
}
