.memeNav {
    display: flex;
    align-items: center;
    width: 100%;
    background-color: rgb(26, 26, 27);
    border: 1px solid rgb(52, 53, 54);
    overflow: hidden;
    height: 49px;
}
/* .navContainer{
    display: flex;
}
.navContainer div{
    flex: 1;
}
@media all and (max-width: 600px){
    .navContainer{
        flex-wrap: wrap;
    }
    .navContainer div{
        flex-basis: 50%;
    }
}
@media all and (max-width: 400px){
    .navContainer div{
        flex-basis: 100%;
    }
    .memeSearch{
        order: 1;
    }
} */
.memeLogo a{
    font-style: italic;
    color: #f2f2f2;
    text-align: center;
    height: 32px;
    padding: 8px 8px 8px 8px;
    width: 32px;
    text-decoration: none;
    font-size: 24px;
    cursor: pointer;
}
.memeSearch{
    box-shadow: none;
    color: rgb(215, 218, 220);
    flex: 1;
    height: 36px;
    width: 100%;
    border-radius: 4px;
    border-width: 1px;
    border-style: solid;
    border-color: rgb(52, 53, 54);
    border-image: initial;
    outline: none;
    padding: 0px 16px 0px 40px;
}
.dropdownMenu{
    padding: 145px 20px 145px 20px;
    /* position: relative; */
    display: inline-block;
    
}
.dropButton{

    background: transparent;
    cursor: pointer;
    border: none;
    color: #f2f2f2;
    padding: 8px;
    font-size: 17px;
}
.dropUl{
    display: flex;
    flex-direction: column;
    /* position: absolute; */
}
.dropList, .yourStuffDropList{
    background-color: rgb(26, 26, 27);
    display: none;
    position: absolute;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    padding: 12px 16px;
    z-index: 1;
    border-bottom: 1px solid rgb(52, 53, 54);
    border-right:  1px solid rgb(52, 53, 54);
    border-left:  1px solid rgb(52, 53, 54);
    border-radius: 6px;
}
.dropdownMenu:hover .dropList, .yourStuffDrop:hover .yourStuffDropList {
    display: block;
  }
.dropdownItem, .yourStuffItem{
    float: 1;
    list-style: none;
    
}
.sort, .stfitm{
    text-decoration: none;
    float: left;
    color: #d7dadc;
}
.sort:hover, .stfitm:hover {
    background-color: #818384;
}
/* .dropdownMenu ul li{
    list-style: none;
    float: left;
}
.toHome, .sort{
    display: block;
    font-family: inherit;
    color: #f2f2f2;
    text-decoration: none; 
}*/
.rightLinksWrapper{
    display: flex;
    flex: 1;
    padding: 8px;
    align-items: center;
}
.rightLinks a{
    color: #f2f2f2; 
    cursor: pointer;
    padding: 0 5px;
    margin: 5px;
    text-decoration: none;
}
.rightLinks a:hover {
    background-color: #59595a52;
    border-radius: 5px;
}
/************************************/
.yourStuffDrop{
    padding: 145px 20px 145px 20px;
    /* position: relative; */
    display: inline-block;
}


