/* $redditOrange: #ff4500;
$redditBlack: rgb(26, 26, 27); */
.regForm {
    width: 50%;
    min-width: 320px;
    text-align: center;
    background: #fff;
    padding: 2em;
    margin: 2em auto;
}
.logo {
  color: #333;
  font-style: normal;
  text-transform: uppercase;
  letter-spacing: 5px;
  transition: all 0.2s ease;
  position: relative;
}
.logo:hover {
  animation: bounce 0.2s linear 0 infinite alternate;
}
@keyframes bounce{
  0%{
    bottom: 50px;
  }
  50%{
    bottom: -50px;
  }
  100%{
    bottom: 0;
  }
}
.inputs input{
    margin: 1em auto;
    padding: 1em;
    border-radius: 5px;
    max-width: 320px;
}
.usernameInput, .emailInput{
}
.in:focus {
    
  }
.registerButton {
    display: block;
    margin: 1em auto;
    background: #0079d3;
    text-shadow: none;
    color: #fff;
    border: 0;
    border-radius: 4px;
    cursor: pointer;
}
.registerButton:hover{
  background: #3394dc;
  color: #fff;
  border: 0;
}
.registerButton:focus{
}
  .formWrapper{
 } 


