
    .usernameBan
    {
        width: 50%;
        height: 50px;
        border: 0px solid #cccccc;
        padding: 5px;
        font-family: Tahoma, sans-serif;
      background-repeat: no-repeat;
      position:relative;
      display :inline-block;
      font-family: 'Open Sans', sans-serif;
      font-size:15px;
      display: flex;
    border-radius: 7px;
      height:95px;
      margin-left: 50px;
    }
    .srNameBan
    {
        width: 50%;
        height: 50px;
        border: 0px solid #cccccc;
        padding: 5px;
        font-family: Tahoma, sans-serif;
      background-repeat: no-repeat;
      position:relative;
      display :inline-block;
      font-family: 'Open Sans', sans-serif;
      font-size:15px;
      display: flex;
    border-radius: 7px;
      height:95px;
      margin-left: 50px;
    }

    .BanU
    {
font-size: 15px;

    }
    .UnBanU
    {
font-size: 15px;

    }