.threadPageContainer{
    margin-top:20px;
    margin-right:13px;
    float:left;
    width:65%;
}
.pagethread{
    margin-bottom: 5px;
}

.commentUser{
    width:68%;
    display: block;
    color: brown;
     overflow-wrap: break-word;
     word-break: break-word;
     text-align: left;
     font-size: 14px;
     font-weight: 650;
     margin-bottom: 1px;
     line-height: 24px;
     padding-right: 5px;
     padding-left:20px;
     margin-left: 5px;
    
}
.commentUser:hover{
    text-decoration: underline;
}
.comment{
    display: block;
     overflow-wrap: break-word;
     word-break: break-word;
     text-align: left;
     font-size: 15px;
     margin-bottom: 1px;
     line-height: 24px;
     padding-right: 5px;
    
    }
    .spoiler{
        display: block;
        color:rgb(25, 180, 46);
        font-style: italic;
        font-weight: bold;
         overflow-wrap: break-word;
         word-break: break-word;
         text-align: left;
         font-size: 15px;
         margin-bottom: 1px;
         line-height: 24px;
         padding-right: 5px;
         padding-left:20px;
         margin-left: 10px;
        
        }

    .threadComment{
        background-color: rgb(15, 15, 17);
        width: 95%;
        border:  1px solid rgb(52, 53, 54);
        border-radius: 0px;
        float:left;
        padding-left:10px;
    
    }
    .editComment
    {
        background-color: rgb(167, 115, 48);
        margin: 5px;
        border:  1px solid rgb(52, 53, 54);
        border-radius: 5px;
        font-size: 13px;
        text-align: left;
    }
    .deleteComment
    {
        background-color: rgb(167, 115, 48);
        margin: 5px;
        border:  1px solid rgb(52, 53, 54);
        border-radius: 5px;
        font-size: 13px;
        text-align: left;
    }
   
    .replyComment
    {
        background-color: rgb(167, 115, 48);
        margin: 5px;
        border:  1px solid rgb(52, 53, 54);
        border-radius: 5px;
        font-size: 13px;
        text-align: left;
    }
    .commentContainer
    {
        background-color: rgb(255, 255, 255);
        margin: 5px;
        width: 68%;
        box-align: left;
        border:  1px solid rgb(52, 53, 54);
        border-radius: 5px;

    }
    .saveComment
    {
        margin-right: 300px;
        margin-top:30px;
        margin-left: 40px;
        background-color: rgb(167, 115, 48);
        border:  1px solid rgb(52, 53, 54);
        border-radius: 5px;
        font-size: 13px;
        text-align: left;
        float:left;
    }
    
    .textComment
    {
        margin-left:10px;
        width: 98%;
        top:10px;
        height: 70px;
        border: 0px solid #cccccc;
        font-family: Tahoma, sans-serif;
         background-repeat: no-repeat;float:left;
        display :inline-block;
        font-family: 'Open Sans', sans-serif;
         font-size:15px;
        display: flex;
        border-radius: 7px;
      height:95px;
}
.threadPageSidebarContainer{
    width:29%;
    float:right;
    padding:0;
    box-sizing:border-box;
    margin-top:10px;
    margin-left:10px;
}
.threadPageSidebarComponent1{
    
    margin-top:15px;
    padding:15px;
    margin-bottom:15px;
    background-color: rgb(26, 26, 27);
    border-bottom: 1px solid rgb(52, 53, 54);
    border-right:  1px solid rgb(52, 53, 54);
    border-left:  1px solid rgb(52, 53, 54);
    border-top:  1px solid rgb(52, 53, 54);
    border-radius: 6px;
}

.threadPageSidebarComponent1 h5 {
    padding-top:15px;
    margin-bottom:7px;
    font-size:12px;
}
/*
.subredditSidebarComponent input {
    width:60%;
    float:right;
    padding-top:3px;
    padding-bottom:3px;
    border-radius: 10px;
}
*/
.threadPageSidebarComponent1 label{
    color:rgb(116, 193, 219);
}
.threadPageSidebarComponent1 textarea{
    margin-top:10px;
    margin-bottom:10px;
    border-radius:10px;
    width:100%;
}
.threadPageSidebarComponent1 label {
    float:left;
}
.threadPageSidebarComponent2{
    margin-bottom:15px;
    background-color: rgb(26, 26, 27);
    border-bottom: 1px solid rgb(52, 53, 54);
    border-right:  1px solid rgb(52, 53, 54);
    border-left:  1px solid rgb(52, 53, 54);
    border-top:  1px solid rgb(52, 53, 54);
    border-radius: 6px;
}

.threadPageSidebarComponent2 h5 {
    padding-top:15px;
    font-size:12px;
}
/*
.subredditSidebarComponent input {
    width:60%;
    float:right;
    padding-top:3px;
    padding-bottom:3px;
    border-radius: 10px;
}
*/
.threadPageSidebarComponent2 label{
    color:rgb(116, 193, 219);
}
.threadPageSidebarComponent2 textarea{
    margin-top:10px;
    margin-bottom:10px;
    border-radius:10px;
    width:100%;
}
.threadPageSidebarComponent2 label {
    font-size:18px;
    font-weight: 500;
    text-align: left;
    color: lightgrey;
    padding-top: 10px;
    padding-bottom: 20px;
    float:left;
}
.threadPageSidebarComponent3{
    padding:15px;
    background-color: rgb(26, 26, 27);
    border-bottom: 1px solid rgb(52, 53, 54);
    border-right:  1px solid rgb(52, 53, 54);
    border-left:  1px solid rgb(52, 53, 54);
    border-top:  1px solid rgb(52, 53, 54);
    border-radius: 6px;
    margin-bottom:10px;
}

.threadPageSidebarComponent3 h5 {
    font-size:12px;
    text-align:left;
    color:grey;
} 
/*
.subredditSidebarComponent input {
    width:60%;
    float:right;
    padding-top:3px;
    padding-bottom:3px;
    border-radius: 10px;
}
*/
.threadPageSidebarComponent3 label{
    font-size:18px;
    font-weight: 500;
    text-align: left;
    color: lightgrey;
    color:rgb(116, 193, 219);
    
    padding-bottom:15px;
}
.threadPageSidebarComponent3 textarea{
    margin-top:10px;
    margin-bottom:10px;
    border-radius:10px;
    width:95%;
}
.threadPageSidebarComponent3 label {
    float:left;
}
.threadPageSidebarEditButton {
    margin:10px 0px;
    padding:10px;
    width:100%;
    border-radius: 7px;
    background-color:lightgrey;
    font-size:18px;
    font-weight: 600;
    cursor:pointer;
}
.threadPageSidebarEditButton:hover{
    color:rgb(233, 172, 92);
    background-color:rgb(26, 26, 27);
}
.threadPageSidebarCancelEditButton{
    margin:10px 0px;
    padding:10px;
    width:100%;
    border-radius: 7px;
    background-color:lightgrey;
    font-size:18px;
    font-weight: 600;
    cursor:pointer;
}
.threadPageSidebarCancelEditButton:hover{
    color:rgb(233, 172, 92);
    background-color:rgb(26, 26, 27);
}
.threadPageSidebarEditButton1{
    margin:10px 0px;
    padding:10px;
    width:100%;
    border-radius: 7px;
    background-color:lightgrey;
    font-size:18px;
    font-weight: 600;
    cursor:pointer;
}
.threadPageSidebarEditButton1:hover{
    color:rgb(233, 172, 92);
    background-color:rgb(26, 26, 27);
}
.threadPageSidebarDeleteButton { 
    margin:10px 0px;
    padding:10px;
    width:100%;
    border-radius: 7px;
    background-color:lightgrey;
    font-size:18px;
    font-weight: 600;
    cursor:pointer;
}
.threadPageSidebarDeleteButton:hover{
    color:rgb(233, 172, 92);
    background-color:rgb(26, 26, 27);
}
.threadPageSidebarEditButton2 { 
    margin:10px 0px;
    padding:10px;
    width:100%;
    border-radius: 7px;
    background-color:lightgrey;
    font-size:18px;
    font-weight: 600;
    cursor:pointer;
}
.threadPageSidebarEditButton2:hover{
    color:rgb(233, 172, 92);
    background-color:rgb(26, 26, 27);
}



/*
.editPostSidebar{
    float:left;
    margin:0;
    padding-top:0;
    padding-right:0;
    padding-left:0;
    padding-bottom:7px;
    list-style: none;
    color:white;
    text-decoration: none;
    font-size:18px;
    line-height: 1em;
    padding:10px;
    text-align:center;
}
*/
.spoilerComment
    {
        background-color: rgb(167, 115, 48);
        margin-left:10px;
        margin-top:20px;
        border:  1px solid rgb(52, 53, 54);
        border-radius: 5px;
        font-size: 13px;
        text-align: left;
    }
    .lockComment
    {
        margin-left:10px;
        margin-top:30px;
        margin-right:10px;
        background-color: rgb(167, 115, 48);
        border:  1px solid rgb(52, 53, 54);
        border-radius: 5px;
        font-size: 13px;
        text-align: left;

    }
    .goEdit
    {
        background-color: rgb(167, 115, 48);
        margin: 5px;
        border:  1px solid rgb(52, 53, 54);
        border-radius: 5px;
        font-size: 13px;
        text-align: left;

    }
    .goCancel
    {
        background-color: rgb(167, 115, 48);
        margin: 5px;
        border:  1px solid rgb(52, 53, 54);
        border-radius: 5px;
        font-size: 13px;
        text-align: left;

    }