.threadPageContainer{
    margin-top:20px;
    margin-right:13px;
    float:left;
    width:65%;
}
.pagethread{
    margin-bottom: 5px;
}
.page{
    width: 100%;
}
.commentUser{
    padding: 1em;
    color: grey;
    text-align: left;
    cursor: pointer;
}
.commentUser:hover{
    text-decoration: underline;
}
.comment{
    color: #333;
    text-align: left;
    padding: 1em;    
}
    .spoiler{
        color: #333;
        text-align: left;
        line-height: 24px;
        margin-left: 1em;
        position: relative;
    }
.spoiler::after{
    content: "Spoiler";
    position: absolute;
    top: -2.5em;
    font-weight: bold;
    color: #da0046;
    padding: 0px 0.5em;
    border: 1px solid #da0046; 
}
    .threadComment{
        width: 95%;
        background: #fff;
        list-style-type: none;
    }
    .editComment
    {
        background-color: rgb(104, 135, 194);
        margin: 5px;
        border:  1px solid rgb(52, 53, 54);
        border-radius: 5px;
        font-size: 13px;
        text-align: left;
    }
    .deleteComment
    {
        background-color: rgb(104, 135, 194);
        margin: 5px;
        border:  1px solid rgb(52, 53, 54);
        border-radius: 5px;
        font-size: 13px;
        text-align: left;
    }
   
    .replyComment
    {
        background: transparent;
        border: 0;
        font-size: 1em;
        position: relative;
        left: 45%;
        bottom: 3em;
        text-align: right;
        cursor: pointer;
        color: grey;
    }
    .replyComment:hover{
        color: #333;
    }
    .commentContainer
    {
        background-color: rgb(255, 255, 255);
        margin: 5px;
        width: 68%;
        box-align: left;
        border:  1px solid rgb(52, 53, 54);
        border-radius: 5px;

    }
    .saveComment {
        text-align: center;
        background-color: #0079D3;
        border: none;
        color: #fff;
        outline: none;
        cursor: pointer;
        /* font: inherit; */
        font-size: 14px;
        padding: 10px;
        font-weight: bold;
        border-radius: 3px;
        width: 90%;
        display: inline-block;
        margin: 1em 5%;
        padding-left: 0;
        letter-spacing: 0.5px;
        line-height: 32px;
        text-transform: uppercase;
        transition: box-shadow 0.2s ease;
    }
    .saveComment:hover{
        background-color: #33a8ff;
    }
    .reply{
        padding-left: 2em;
        border: 5px solid #fff;
        border-left: 5px solid #ff33a3;
        
        border-radius: 0;
    }
    .textComment {
        width: 100%;
        border-radius: 0;
        height:95px;
        margin: 0;
        padding: 1em;
        border-bottom: 1px solid #fff;
    }
    
    .textComment:focus{
        outline: 0;
        border-bottom: 1px solid #ccc;
    }
    .textReply {
        width: 100%;
        border-radius: 0;
        height:95px;
        margin: 0;
        padding: 1em;
        border-bottom: 1px solid #fff;
    }
    .textReply:focus{
        outline: 0;
        border-bottom: 1px solid #ccc;
    }
.addCommentSection{
    margin: 0 1.5em;
    width: 90%;
    border: 1px solid #ccc;
    background: #fff;
    text-align: left;
}
.threadPageSidebarContainer{
    width:29%;
    float:left;
    margin: 2.6em 0;
    box-sizing:border-box;
    box-shadow: 0 0 3px rgba(51,51,51,0.5);
}
.threadPageSidebarComponent1{
    padding: 1em;
    background-color: #fff;
}

.threadPageSidebarComponent1 h5 {
    padding-top:15px;
    margin-bottom:7px;
    font-size:12px;
}
/*
.subredditSidebarComponent input {
    width:60%;
    float:right;
    padding-top:3px;
    padding-bottom:3px;
    border-radius: 10px;
}
*/
.threadPageSidebarComponent1 label{
    color:rgb(116, 193, 219);
}
.threadPageSidebarComponent1 textarea{
    margin-top:10px;
    margin-bottom:10px;
    border-radius:10px;
    width:100%;
}
.threadPageSidebarComponent1 label {
    float:left;
}
.threadPageSidebarComponent2{
    margin-bottom:15px;
    background-color: rgb(26, 26, 27);
    border-bottom: 1px solid rgb(52, 53, 54);
    border-right:  1px solid rgb(52, 53, 54);
    border-left:  1px solid rgb(52, 53, 54);
    border-top:  1px solid rgb(52, 53, 54);
    border-radius: 6px;
}

.threadPageSidebarComponent2 h5 {
    padding-top:15px;
    font-size:12px;
}
/*
.subredditSidebarComponent input {
    width:60%;
    float:right;
    padding-top:3px;
    padding-bottom:3px;
    border-radius: 10px;
}
*/
.threadPageSidebarComponent2 label{
    color:rgb(116, 193, 219);
}
.threadPageSidebarComponent2 textarea{
    margin-top:10px;
    margin-bottom:10px;
    border-radius:10px;
    width:100%;
}
.threadPageSidebarComponent2 label {
    font-size:18px;
    font-weight: 500;
    text-align: left;
    color: lightgrey;
    padding-top: 10px;
    padding-bottom: 20px;
    float:left;
}
.threadPageSidebarComponent3{
    padding:15px;
    background-color: rgb(26, 26, 27);
    border-bottom: 1px solid rgb(52, 53, 54);
    border-right:  1px solid rgb(52, 53, 54);
    border-left:  1px solid rgb(52, 53, 54);
    border-top:  1px solid rgb(52, 53, 54);
    border-radius: 6px;
    margin-bottom:10px;
}

.threadPageSidebarComponent3 h5 {
    font-size:12px;
    text-align:left;
    color:grey;
} 
/*
.subredditSidebarComponent input {
    width:60%;
    float:right;
    padding-top:3px;
    padding-bottom:3px;
    border-radius: 10px;
}
*/
.threadPageSidebarComponent3 label{
    font-size:18px;
    font-weight: 500;
    text-align: left;
    color: lightgrey;
    color:rgb(116, 193, 219);
    
    padding-bottom:15px;
}
.threadPageSidebarComponent3 textarea{
    margin-top:10px;
    margin-bottom:10px;
    border-radius:10px;
    width:95%;
}
.threadPageSidebarComponent3 label {
    float:left;
}
.threadPageSidebarEditButton {
    margin:10px 0px;
    padding:10px;
    width:100%;
    border-radius: 7px;
    background-color:lightgrey;
    font-size:18px;
    font-weight: 600;
    cursor:pointer;
}
.threadPageSidebarEditButton:hover{
    color:rgb(233, 172, 92);
    background-color:rgb(26, 26, 27);
}
.threadPageSidebarCancelEditButton{
    margin:10px 0px;
    padding:10px;
    width:100%;
    border-radius: 7px;
    background-color:lightgrey;
    font-size:18px;
    font-weight: 600;
    cursor:pointer;
}
.threadPageSidebarCancelEditButton:hover{
    color:rgb(233, 172, 92);
    background-color:rgb(26, 26, 27);
}
.threadPageSidebarEditButton1{
    background-color: #0079D3;
    border: none;
    color: #fff;
    outline: none;
    cursor: pointer;
    /* font: inherit; */
    font-size: 14px;
    padding: 10px;
    margin: 10px;
    font-weight: bold;
    border-radius: 3px;
    width: 100%;
    margin-left: 0;
    padding-left: 0;
    letter-spacing: 0.5px;
    line-height: 32px;
    text-transform: uppercase;
    transition: box-shadow 0.2s ease;
}
.threadPageSidebarEditButton1:hover{
    background-color: #33a8ff;
}
.threadPageSidebarDeleteButton { 
    background:rgb(128,12,12);
    border: none;
    color: #fff;
    outline: none;
    cursor: pointer;
    font-size: 14px;
    padding: 10px;
    margin: 10px;
    font-weight: bold;
    border-radius: 3px;
    width: 100%;
    margin-left: 0;
    padding-left: 0;
    letter-spacing: 0.5px;
    line-height: 32px;
    text-transform: uppercase;
}
.threadPageSidebarDeleteButton:hover{
    background: #da0046;
}
.threadPageSidebarEditButton2 { 
    margin:10px 0px;
    padding:10px;
    width:100%;
    border-radius: 7px;
    background-color:lightgrey;
    font-size:18px;
    font-weight: 600;
    cursor:pointer;
}
.threadPageSidebarEditButton2:hover{
    color:rgb(233, 172, 92);
    background-color:rgb(26, 26, 27);
}



/*
.editPostSidebar{
    float:left;
    margin:0;
    padding-top:0;
    padding-right:0;
    padding-left:0;
    padding-bottom:7px;
    list-style: none;
    color:white;
    text-decoration: none;
    font-size:18px;
    line-height: 1em;
    padding:10px;
    text-align:center;
}
*/
.commentList{
    padding: 0;
    margin: 1.5em;
    width: 95%;
}
.spoilerComment,
.lockComment
    {
        color: #333;
        margin: 0.5em 1em;
        display: inline-block;
        padding: 1em;
    }
    .goEdit
    {
        background-color: rgb(104, 135, 194);
        margin: 5px;
        border:  1px solid rgb(52, 53, 54);
        border-radius: 5px;
        font-size: 13px;
        text-align: left;

    }
    .goReply
    {
        background-color: rgb(104, 135, 194);
        margin: 5px;
        border:  1px solid rgb(52, 53, 54);
        border-radius: 5px;
        font-size: 13px;
        text-align: left;

    }
    .goCancel
    {
        background-color: rgb(104, 135, 194);
        margin: 5px;
        border:  1px solid rgb(52, 53, 54);
        border-radius: 5px;
        font-size: 13px;
        text-align: left;

    }
    
    .threadUpvotes{
        float:left;
        font-size:19px;
        margin-left: 20px;
        margin-top: 4px;
    }
    .decrementVotes, .incrementVotes{
        color: #777777;
        cursor: pointer;
        font-size:24px;
        float:left;
        margin-left: 20px;
        border-radius: 5px;
        padding:3px;
        background: transparent;
        border: 0;
    }
    .decrementVotes:hover,
    .incrementVotes:hover{
        color: #0079D3;
    }
.errorMessageEditPost{
    font-style: inherit;
    color:maroon;
    font-size: 0.77em;
}