body {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

html{
  scroll-behavior: smooth;
}

.Home {
  display: flex;
  flex-direction: row;
  text-align: center;
  min-height: calc(100vh - 79px);
  width: 100%;
  align-items: baseline;
  font-size: 1.1em;
  color: white;
  text-align: center;
  
}
.backtoTop{
  position: fixed;
  bottom: 12px;
  right: 12px;
  z-index: 99;
  color: #0079D3;
  font-size: 3em;
  cursor: pointer;
  text-decoration: none;
}
*{
  box-sizing: border-box !important;
}
.notHome .backtoTop{
  display: none;
}
.verticalAlign .Home{
  align-items: center;
}

